1.	Area of Triangle :Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
n1=int(input("Enter side1 :"))
n2=int(input("Enter side2 :"))
n3=int(input("Enter side3 :"))
if(n1+n2>n3):
  s=(n1+n2+n3)/2
  area=(s*(s-n1)*(s-n2)*(s-n3))**(1/2)
  print("The area of traingle :",round(area,2))
else:
  print("Notpossible")

Enter side1 :12
Enter side2 :14
Enter side3 :15
The area of traingle : 78.93

2.	Take a string from end user and check if the value is palindrome or not

In [ ]:
s=input("Enter string :")
if(s==s[::-1]):
  print("Given string is palindrome")
else:
  print("Given string is not palindrome")

Enter string :mom
Given string is palindrome

3.	Write a program that reads a year from the user and displays a messageIndicating whether or not it is a leap year.

In [ ]:
year=int(input("Enter year :"))
if(year%4==0 and year%100!=0 or year%400==0):
  print("Given year is leap year")
else:
  print("Given year is not leap year")

Enter year :2020
Given year is leap year

4.	 Space To Hyphen problem 
Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.

In [ ]:
x=input("Enter a string :")
print(x.replace(' ','-'))

Enter a string :This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5.	Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).

In [ ]:
x = input("Enter words :")
s=x.split(",")
s.sort()
list(s)
set(s)

Enter words :white, red, cyan, green, magenta, cyan, pink

{' cyan', ' green', ' magenta', ' pink', ' red', 'white'}

6.	Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
sal=int(input("Enter salary :"))
if(sal>=0) and (sal<=250000):
  tax=(sal*0)
elif (sal>250000) and (sal<=500000):
  tax=(sal*0.05)
elif (sal>500000) and (sal<=750000):
  tax=(sal*0.1)
elif (sal>750000) and (sal<=1000000):
  tax=(sal*0.15)
elif (sal>1000000) and (sal<=1250000):
  tax=(sal*0.2)
elif (sal>1250000) and (sal<=1500000):
  tax=(sal*0.25)
else:
  tx=(sal*0.3)
print("Tax : ",tax)

Enter salary :250025
Tax :  12501.25

7.	Take a list of integers as an argument, and converts it into a single integer (return the integer).

In [ ]:
x=[11,33,50]
for i in x:
  print(i,end="")

113350

8.	Units of Time : 
Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
secspermin=60
secsperhour=3600
secsperday=86400
days=int(input("Enter the number of Days :"))
hours=int(input("Enter the number of Hours :"))
minutes=int(input("Enter the number of Minutes :"))
seconds=int(input("Enter the number of Seconds :"))
tsecs=days*secondsperday
tsecs=tsecs+(hours*secsperhour)
tsecs=tsecs+(minutes*secspermin)
tsecs=tsecs+seconds
print("Total number of seconds : ","%d"%(tsecs))

Enter the number of Days :2
Enter the number of Hours :12
Enter the number of Minutes :60
Enter the number of Seconds :23
Total number of seconds :  219623

9.	Sort 3 Integers : 
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [ ]:
a=int(input("Enter the value of a : "))
b=int(input("Enter the value of b : "))
c=int(input("Enter the value of c : "))
d=min(a,b,c)
e=max(a,b,c)
f=(a+b+c)-d-e 
print("The sorted order : ",d,f,e)

Enter the value of a : 1
Enter the value of b : 9
Enter the value of c : 4
The sorted order :  1 4 9

10.	Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
year=int(input("Enter a year : "))
if year%400==0:
  leapyear=True
elif year%100==0:
  leapyear=False
elif year%4==0:
  leapyear=True
else:
  leapyear=False
month=int(input("Enter month : "))
if month in (1,3,5,7,8,10,12):
  monthlength=31
elif month==2:
  if leapyear:
    monthlength=29
  else:
    monthlength==28
else:
  monthlength=28
day=int(input("Enter a day : "))
if day<monthlength:
  day+=1
else:
  day=1
  if month==12:
    month=1
    year+1
  else:
    month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d"%(year,month,day))

Enter a year : 2020
Enter month : 4
Enter a day : 15
The immediate successor is YYYY-MM-DD : 2020-4-16

11.	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]

In [ ]:
list=[45,3,2,89,72,1,10,7]
n=1
for i in range(len(list)):
  n=n*list[i]
print("The product of list : ",n)

The product of list :  121111200

12.	Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output

In [ ]:
l=[5,6,8,34,89,1]
out_list=[]
for i in range(len(l)-1):
  ol=l[i]+l[i+1]
  out_list.append(ol)
print("out_list = ",out_list)

out_list =  [11, 14, 42, 123, 90]

13.	 Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output

In [ ]:
n=(5,6,8,3,9,1)
out_list=[]
out_list.append(n[0])
for i in range(len(n)-1):
  m=out_list[i]*n[i+1]
  out_list.append(m)
print("out_list = ",out_list)

out_list =  [5, 30, 240, 720, 6480, 6480]

14.	 Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
n=input("Enter a number : ")
l=[]
for i in range(len(n)):
  l.append(n[i])
print(l)

Enter a number : 586392
['5', '8', '6', '3', '9', '2']

15.	Write a program that finds the longest palindromic substring of a given string

In [7]:
def longestpalindrome(n):
  d=[[False for i in range(len(n))] for i in range(len(n))]
  for i in range(len(n)):
    d[i][i]=True
  maxlen=1
  start=0
  for j in range(2,len(n)+1):
    for i in range(len(n)-j+1):
      end=i+j
      if j==2:
        if n[i]==n[end-1]:
          d[i][end-1]=True
          maxlen=j
          start=i
        else:
          if n[i]==n[end-1] and d[i+1][end-2]:
            d[i][end-1]=True
            maxlen=j
            start=i
  return n[start:start+maxlen]

In [10]:
n=input("Enter string : ")
print(longestpalindrome(n))

Enter string : ba aaa
aa

16.	 Substring Check (Bug Funny) : 
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.

In [ ]:
n=int(input())
for i in range(n):
  A,B=input("Enter A strin and B string : ").split()
  if B in A:
    print("1")
  else:
    print("0")

2
Enter A strin and B string : 1010110010 10110
1
Enter A strin and B string : 1110111011 10011
0

17.	  POUR1 - Pouring water : 
Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as 'steps':
•	emptying a vessel,
•	filling a vessel,
•	pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.

In [3]:
def gcd(a,b):
  if b==0:
    return a
  return gcd(b,a%b)
def countsteps(a,b,c):
  v1=b
  v2=0
  count=1
  while ((v1 is not c) and (v2 is not c)):
    temp=min(v1,a-v2)
    v2=v2+temp
    v1=v1-temp
    count=count+1
    if ((v2==c) or (v1==c)):
      break
    if v1==0:
      v1=b
      count=count+1
    if v2==a:
      v2=0
      count=count+1
  return count

In [4]:
def impossible(a,b,c):
  if a>b:
    temp=a
    a=b
    b=temp
  if c>b:
    return -1
  if(c%(gcd(b,a)) is not 0):
    return -1
  return (min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity of vessel c : "))
  print("Minimum no of steps required is : ",impossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 2
Enter capacity of vessel b : 5
Enter capacity of vessel c : 2
Minimum no of steps required is :  1
Enter capacity of vessel a : 3
Enter capacity of vessel b : 5
Enter capacity of vessel c : 2
Minimum no of steps required is :  2